{"openapi":"3.0.1","info":{"title":"Hadrian","version":"0.1.0"},"servers":[{"url":"https://api.hdrn.nu"}],"components":{"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"ApiKey":{"type":"apiKey","description":"Hadrian Api Key.","name":"X-Api-Key","in":"header"}}},"paths":{"/admin/authenticated-scanning/credentials":{"get":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","description":"Page number.\r\nMisnomer: interpreted as a page number when paginating","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Page size","schema":{"type":"integer","format":"int32"}},{"name":"sorts","in":"query","description":"Collection of sorting fields","schema":{"type":"array","items":{"required":["field"],"type":"object","properties":{"field":{"minLength":1,"type":"string"},"sortOrder":{"enum":["Asc","Desc"],"type":"string"}},"additionalProperties":false}}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"application/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"text/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/credentials/{id}":{"get":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}},"application/json":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}},"text/json":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]},"patch":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the credential.","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."},"username":{"type":"string","description":"The username of the credential.","nullable":true},"password":{"type":"string","description":"The password of the credential.","nullable":true},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts) of the credential.","nullable":true},"loginUrl":{"type":"string","description":"The login URL of the credential.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential.","nullable":true},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true}},"additionalProperties":false,"description":"The data for updating an authenticated scanning credential."}},"text/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the credential.","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."},"username":{"type":"string","description":"The username of the credential.","nullable":true},"password":{"type":"string","description":"The password of the credential.","nullable":true},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts) of the credential.","nullable":true},"loginUrl":{"type":"string","description":"The login URL of the credential.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential.","nullable":true},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true}},"additionalProperties":false,"description":"The data for updating an authenticated scanning credential."}},"application/*+json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the credential.","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."},"username":{"type":"string","description":"The username of the credential.","nullable":true},"password":{"type":"string","description":"The password of the credential.","nullable":true},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts) of the credential.","nullable":true},"loginUrl":{"type":"string","description":"The login URL of the credential.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential.","nullable":true},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true}},"additionalProperties":false,"description":"The data for updating an authenticated scanning credential."}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"object","additionalProperties":false}},"application/json":{"schema":{"type":"object","additionalProperties":false}},"text/json":{"schema":{"type":"object","additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]},"delete":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"object","additionalProperties":false}},"application/json":{"schema":{"type":"object","additionalProperties":false}},"text/json":{"schema":{"type":"object","additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/credentials/{credentialId}/generate":{"post":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"object","additionalProperties":false}},"application/json":{"schema":{"type":"object","additionalProperties":false}},"text/json":{"schema":{"type":"object","additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/credentials":{"post":{"tags":["Admin Authenticated Scanning"],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["domainIds","loginUrl","name","password","username"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the credential."},"loginUrl":{"minLength":1,"type":"string","description":"The login URL of the credential."},"username":{"minLength":1,"type":"string","description":"The username of the credential."},"password":{"minLength":1,"type":"string","description":"The password of the credential."},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential."},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts)","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"The data for creating an authenticated scanning credential."}},"text/json":{"schema":{"required":["domainIds","loginUrl","name","password","username"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the credential."},"loginUrl":{"minLength":1,"type":"string","description":"The login URL of the credential."},"username":{"minLength":1,"type":"string","description":"The username of the credential."},"password":{"minLength":1,"type":"string","description":"The password of the credential."},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential."},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts)","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"The data for creating an authenticated scanning credential."}},"application/*+json":{"schema":{"required":["domainIds","loginUrl","name","password","username"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the credential."},"loginUrl":{"minLength":1,"type":"string","description":"The login URL of the credential."},"username":{"minLength":1,"type":"string","description":"The username of the credential."},"password":{"minLength":1,"type":"string","description":"The password of the credential."},"totpSharedSecret":{"type":"string","description":"The shared secret for the TOTP token.","nullable":true},"domainIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"The ids of the domains to associate with the credential."},"enableActiveScanning":{"type":"boolean","description":"Whether to enable active scanning for all domains associated with the credential.","nullable":true},"authSteps":{"type":"string","description":"The login steps (spec.ts)","nullable":true},"status":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"The data for creating an authenticated scanning credential."}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string","format":"uuid"}},"application/json":{"schema":{"type":"string","format":"uuid"}},"text/json":{"schema":{"type":"string","format":"uuid"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/credentials/{credentialId}/domains/{domainId}":{"put":{"tags":["Admin Authenticated Scanning"],"summary":"Assigns a credential to a domain.","parameters":[{"name":"organizationId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string","format":"uuid"}},"application/json":{"schema":{"type":"string","format":"uuid"}},"text/json":{"schema":{"type":"string","format":"uuid"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]},"delete":{"tags":["Admin Authenticated Scanning"],"summary":"Unassigns a credential from a domain.","parameters":[{"name":"organizationId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string","format":"uuid"}},"application/json":{"schema":{"type":"string","format":"uuid"}},"text/json":{"schema":{"type":"string","format":"uuid"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/credentials/{credentialId}/domains":{"get":{"tags":["Admin Authenticated Scanning"],"summary":"Gets the domains assigned to a credential.","parameters":[{"name":"organizationId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["assetId","created","domainName","isAvailable","modified","organizationId"],"type":"object","properties":{"assetId":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"domainName":{"minLength":1,"type":"string","description":"The domain name as defined in RFC-1123."},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"isAvailable":{"type":"boolean","description":"The status of the domain asset."},"lastSeenAt":{"type":"string","description":"The last time the domain was seen.","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"}},"additionalProperties":false,"description":"View model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"application/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["assetId","created","domainName","isAvailable","modified","organizationId"],"type":"object","properties":{"assetId":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"domainName":{"minLength":1,"type":"string","description":"The domain name as defined in RFC-1123."},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"isAvailable":{"type":"boolean","description":"The status of the domain asset."},"lastSeenAt":{"type":"string","description":"The last time the domain was seen.","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"}},"additionalProperties":false,"description":"View model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"text/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["assetId","created","domainName","isAvailable","modified","organizationId"],"type":"object","properties":{"assetId":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"domainName":{"minLength":1,"type":"string","description":"The domain name as defined in RFC-1123."},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"isAvailable":{"type":"boolean","description":"The status of the domain asset."},"lastSeenAt":{"type":"string","description":"The last time the domain was seen.","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"}},"additionalProperties":false,"description":"View model for authenticated scanning credential."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/authenticated-scanning/organizations/{organizationId}/domains/{domainId}/credentials":{"get":{"tags":["Admin Authenticated Scanning"],"summary":"Gets the credentials assigned to a domain.","parameters":[{"name":"organizationId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}},"application/json":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}},"text/json":{"schema":{"required":["created","discoveryStatus","id","modified","name","organizationId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The name of the credential item."},"loginUrl":{"type":"string","nullable":true},"vaultSecretId":{"type":"string","description":"The vault secret id of the credential item.","nullable":true},"octomindTestTargetId":{"type":"string","description":"The Octomind test target ID associated with the credential.","nullable":true},"octomindTestCaseId":{"type":"string","description":"The Octomind test case ID associated with the credential.","nullable":true},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"modified":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"discoveryStatus":{"enum":["Pending","InProgress","Succeeded","Invalid","Failed"],"type":"string","description":"The status of the credential's authentication steps discovery."}},"additionalProperties":false,"description":"Admin view model for authenticated scanning credential."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/organizations/{organizationId}/features":{"patch":{"tags":["Admin Organization Features"],"summary":"Update the organization feature flags.","parameters":[{"name":"organizationId","in":"path","description":"The id of the organization to update the feature flags for.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The data to update the feature flags with.","content":{"application/json":{"schema":{"type":"object","properties":{"featureFlags":{"type":"object","properties":{"enablePboForNuclei":{"type":"boolean","nullable":true}},"additionalProperties":false}},"additionalProperties":false}},"text/json":{"schema":{"type":"object","properties":{"featureFlags":{"type":"object","properties":{"enablePboForNuclei":{"type":"boolean","nullable":true}},"additionalProperties":false}},"additionalProperties":false}},"application/*+json":{"schema":{"type":"object","properties":{"featureFlags":{"type":"object","properties":{"enablePboForNuclei":{"type":"boolean","nullable":true}},"additionalProperties":false}},"additionalProperties":false}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"object","additionalProperties":false}},"application/json":{"schema":{"type":"object","additionalProperties":false}},"text/json":{"schema":{"type":"object","additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"422":{"description":"Unprocessable Content","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/organizations/{organizationId}/users/{userId}/role":{"patch":{"tags":["Admin Organization Users"],"summary":"Changes the role of a user in the organization.","parameters":[{"name":"organizationId","in":"path","description":"Id of the organization to change the role of.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"path","description":"User to change the role of.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Data containing the information on which role to change to.","content":{"application/json":{"schema":{"required":["organizationRoleName"],"type":"object","properties":{"organizationRoleName":{"minLength":1,"type":"string"}},"additionalProperties":false}},"text/json":{"schema":{"required":["organizationRoleName"],"type":"object","properties":{"organizationRoleName":{"minLength":1,"type":"string"}},"additionalProperties":false}},"application/*+json":{"schema":{"required":["organizationRoleName"],"type":"object","properties":{"organizationRoleName":{"minLength":1,"type":"string"}},"additionalProperties":false}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/organizations":{"get":{"tags":["Admin Organizations"],"summary":"Gets the list of all organizations.","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"leadUserId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"subscriptionStartDate","in":"query","schema":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"}},{"name":"subscriptionEndDate","in":"query","schema":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"}},{"name":"subscriptionTypes","in":"query","schema":{"type":"array","items":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."}}},{"name":"offset","in":"query","description":"Page number.\r\nMisnomer: interpreted as a page number when paginating","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Page size","schema":{"type":"integer","format":"int32"}},{"name":"sorts","in":"query","description":"Collection of sorting fields","schema":{"type":"array","items":{"required":["field"],"type":"object","properties":{"field":{"minLength":1,"type":"string"},"sortOrder":{"enum":["Asc","Desc"],"type":"string"}},"additionalProperties":false}}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["id","isMarkedForDeletion","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"isMarkedForDeletion":{"type":"boolean","description":"Whether organization is marked for deletion"},"markedForDeletionAt":{"type":"string","description":"Timestamp when organization was marked for deletion","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"},"hubspotLinkUrl":{"type":"string","description":"URL of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"URL of the organization in Planhat.","nullable":true},"leadUserId":{"type":"string","description":"Id of the user who owns the contract.","format":"uuid","nullable":true},"parentOrganizationId":{"type":"string","description":"Id of the parent organization.","format":"uuid","nullable":true},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."}},"additionalProperties":false},"productSubscriptions":{"type":"array","items":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."}},"additionalProperties":false},"description":"Product subscriptions of the organization.","nullable":true},"featureFlags":{"required":["enablePboForNuclei"],"type":"object","properties":{"enablePboForNuclei":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false,"description":"Admin organization detail viewmodel."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"application/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["id","isMarkedForDeletion","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"isMarkedForDeletion":{"type":"boolean","description":"Whether organization is marked for deletion"},"markedForDeletionAt":{"type":"string","description":"Timestamp when organization was marked for deletion","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"},"hubspotLinkUrl":{"type":"string","description":"URL of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"URL of the organization in Planhat.","nullable":true},"leadUserId":{"type":"string","description":"Id of the user who owns the contract.","format":"uuid","nullable":true},"parentOrganizationId":{"type":"string","description":"Id of the parent organization.","format":"uuid","nullable":true},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."}},"additionalProperties":false},"productSubscriptions":{"type":"array","items":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."}},"additionalProperties":false},"description":"Product subscriptions of the organization.","nullable":true},"featureFlags":{"required":["enablePboForNuclei"],"type":"object","properties":{"enablePboForNuclei":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false,"description":"Admin organization detail viewmodel."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}},"text/json":{"schema":{"required":["items","offset","pageSize","totalCount"],"type":"object","properties":{"totalCount":{"type":"integer","description":"Total count of items in the entire collection.","format":"int64"},"offset":{"type":"integer","description":"Page number determining the offset.","format":"int32"},"pageSize":{"type":"integer","description":"Count of items in the paged result.","format":"int32"},"items":{"type":"array","items":{"required":["id","isMarkedForDeletion","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"isMarkedForDeletion":{"type":"boolean","description":"Whether organization is marked for deletion"},"markedForDeletionAt":{"type":"string","description":"Timestamp when organization was marked for deletion","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"},"hubspotLinkUrl":{"type":"string","description":"URL of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"URL of the organization in Planhat.","nullable":true},"leadUserId":{"type":"string","description":"Id of the user who owns the contract.","format":"uuid","nullable":true},"parentOrganizationId":{"type":"string","description":"Id of the parent organization.","format":"uuid","nullable":true},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."}},"additionalProperties":false},"productSubscriptions":{"type":"array","items":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."}},"additionalProperties":false},"description":"Product subscriptions of the organization.","nullable":true},"featureFlags":{"required":["enablePboForNuclei"],"type":"object","properties":{"enablePboForNuclei":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false,"description":"Admin organization detail viewmodel."},"description":"Array of items."}},"additionalProperties":false,"description":"Paged result of items."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]},"post":{"tags":["Admin Organizations"],"summary":"Creates new organization.","requestBody":{"description":"Data for creating the new organization.","content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the organization."},"parentOrganizationId":{"type":"string","description":"The id of the parent organization.","format":"uuid","nullable":true},"leadUserId":{"type":"string","description":"The id of the user who is the lead of the organization.","format":"uuid","nullable":true},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."},"subscriptionStartDate":{"type":"string","description":"The start date of the platform subscription for the organization.","format":"date","nullable":true},"subscriptionEndDate":{"type":"string","description":"The end date of the platform subscription for the organization.","format":"date","nullable":true},"productSubscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."},"productSubscriptionStartDate":{"type":"string","description":"The start date of the product subscription for the organization.","format":"date","nullable":true},"productSubscriptionEndDate":{"type":"string","description":"The end date of the product subscription for the organization.","format":"date","nullable":true},"hubspotLinkUrl":{"type":"string","description":"The url of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"The url of the organization in Planhat.","nullable":true}},"additionalProperties":false,"description":"Data for creating an organization."}},"text/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the organization."},"parentOrganizationId":{"type":"string","description":"The id of the parent organization.","format":"uuid","nullable":true},"leadUserId":{"type":"string","description":"The id of the user who is the lead of the organization.","format":"uuid","nullable":true},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."},"subscriptionStartDate":{"type":"string","description":"The start date of the platform subscription for the organization.","format":"date","nullable":true},"subscriptionEndDate":{"type":"string","description":"The end date of the platform subscription for the organization.","format":"date","nullable":true},"productSubscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."},"productSubscriptionStartDate":{"type":"string","description":"The start date of the product subscription for the organization.","format":"date","nullable":true},"productSubscriptionEndDate":{"type":"string","description":"The end date of the product subscription for the organization.","format":"date","nullable":true},"hubspotLinkUrl":{"type":"string","description":"The url of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"The url of the organization in Planhat.","nullable":true}},"additionalProperties":false,"description":"Data for creating an organization."}},"application/*+json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the organization."},"parentOrganizationId":{"type":"string","description":"The id of the parent organization.","format":"uuid","nullable":true},"leadUserId":{"type":"string","description":"The id of the user who is the lead of the organization.","format":"uuid","nullable":true},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."},"subscriptionStartDate":{"type":"string","description":"The start date of the platform subscription for the organization.","format":"date","nullable":true},"subscriptionEndDate":{"type":"string","description":"The end date of the platform subscription for the organization.","format":"date","nullable":true},"productSubscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."},"productSubscriptionStartDate":{"type":"string","description":"The start date of the product subscription for the organization.","format":"date","nullable":true},"productSubscriptionEndDate":{"type":"string","description":"The end date of the product subscription for the organization.","format":"date","nullable":true},"hubspotLinkUrl":{"type":"string","description":"The url of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"The url of the organization in Planhat.","nullable":true}},"additionalProperties":false,"description":"Data for creating an organization."}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["id","idPDomains","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"idPDomains":{"type":"array","items":{"type":"string"},"description":"Users in these realms must login via their IdP."},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."}},"additionalProperties":false}},"additionalProperties":false,"description":"Organization detail viewmodel."}},"application/json":{"schema":{"required":["id","idPDomains","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"idPDomains":{"type":"array","items":{"type":"string"},"description":"Users in these realms must login via their IdP."},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."}},"additionalProperties":false}},"additionalProperties":false,"description":"Organization detail viewmodel."}},"text/json":{"schema":{"required":["id","idPDomains","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"idPDomains":{"type":"array","items":{"type":"string"},"description":"Users in these realms must login via their IdP."},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."}},"additionalProperties":false}},"additionalProperties":false,"description":"Organization detail viewmodel."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}},"422":{"description":"Unprocessable Content","content":{"text/plain":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"text/json":{"schema":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}}}}},"security":[{"Bearer":[],"apiKey":[]}]}},"/admin/organizations/{organizationId}":{"patch":{"tags":["Admin Organizations"],"summary":"Updates an organization.","parameters":[{"name":"organizationId","in":"path","description":"The id of the organization to update.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Data for updating the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"parentOrganizationId":{"type":"string","format":"uuid","nullable":true},"leadUserId":{"type":"string","format":"uuid","nullable":true},"organizationName":{"type":"string","nullable":true},"planhatLinkUrl":{"type":"string","nullable":true},"hubspotLinkUrl":{"type":"string","nullable":true}},"additionalProperties":false}},"text/json":{"schema":{"type":"object","properties":{"parentOrganizationId":{"type":"string","format":"uuid","nullable":true},"leadUserId":{"type":"string","format":"uuid","nullable":true},"organizationName":{"type":"string","nullable":true},"planhatLinkUrl":{"type":"string","nullable":true},"hubspotLinkUrl":{"type":"string","nullable":true}},"additionalProperties":false}},"application/*+json":{"schema":{"type":"object","properties":{"parentOrganizationId":{"type":"string","format":"uuid","nullable":true},"leadUserId":{"type":"string","format":"uuid","nullable":true},"organizationName":{"type":"string","nullable":true},"planhatLinkUrl":{"type":"string","nullable":true},"hubspotLinkUrl":{"type":"string","nullable":true}},"additionalProperties":false}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"required":["id","isMarkedForDeletion","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"isMarkedForDeletion":{"type":"boolean","description":"Whether organization is marked for deletion"},"markedForDeletionAt":{"type":"string","description":"Timestamp when organization was marked for deletion","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"},"hubspotLinkUrl":{"type":"string","description":"URL of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"URL of the organization in Planhat.","nullable":true},"leadUserId":{"type":"string","description":"Id of the user who owns the contract.","format":"uuid","nullable":true},"parentOrganizationId":{"type":"string","description":"Id of the parent organization.","format":"uuid","nullable":true},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["Pov","Customer","Exception"],"type":"string","description":"The different types of platform subscriptions that an organization can have."}},"additionalProperties":false},"productSubscriptions":{"type":"array","items":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"string","example":"yyyy-MM-dd HH:mm:ss"},"subscriptionState":{"enum":["Active","Expired"],"type":"string","description":"The state of an organization's subscription.\r\nCalculated in the mapping based on the end date of the OrganizationSubscription."},"subscriptionType":{"enum":["DarkWeb"],"type":"string","description":"The different types of product subscriptions that an organization can have."}},"additionalProperties":false},"description":"Product subscriptions of the organization.","nullable":true},"featureFlags":{"required":["enablePboForNuclei"],"type":"object","properties":{"enablePboForNuclei":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false,"description":"Admin organization detail viewmodel."}},"application/json":{"schema":{"required":["id","isMarkedForDeletion","name"],"type":"object","properties":{"id":{"type":"string","description":"The organization id.","format":"uuid"},"name":{"minLength":1,"type":"string","description":"The organization name."},"isMarkedForDeletion":{"type":"boolean","description":"Whether organization is marked for deletion"},"markedForDeletionAt":{"type":"string","description":"Timestamp when organization was marked for deletion","nullable":true,"example":"yyyy-MM-dd HH:mm:ss"},"hubspotLinkUrl":{"type":"string","description":"URL of the organization in Hubspot.","nullable":true},"planhatLinkUrl":{"type":"string","description":"URL of the organization in Planhat.","nullable":true},"leadUserId":{"type":"string","description":"Id of the user who owns the contract.","format":"uuid","nullable":true},"parentOrganizationId":{"type":"string","description":"Id of the parent organization.","format":"uuid","nullable":true},"currentSubscription":{"required":["created","endDate","id","organizationId","startDate","subscriptionState","subscriptionType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"created":{"type":"str
[...]
